h1 {
    color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(220, 220, 220);

}

section.skillsList {
    padding: 2%;
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
    color: rgb(0, 0, 0);
    font-size: medium;
    margin-right: auto;
}

section.aboutMe {
    padding: 1%;
    margin: auto;
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
    color: #060606;
    text-align: center;
}

section.contactInfo {
    padding: 1%;
    margin-right: auto;
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
    color: #171515;
}

section.siteProfile {
    padding: 1%;
    margin-right: auto;
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
}

section.image {
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
    margin-right: auto;

}

footer {
    background: radial-gradient(circle, rgb(176, 179, 178) 2%, rgb(153, 153, 153) 17%, rgb(107, 106, 106) 55%, rgb(97, 97, 97) 95%);
    
}